* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  #container {
    background: linear-gradient(to bottom, #ff5b3b,  #ff3a93);
    color: white;
    padding: 20px;
    border-radius: 10px;
  }
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
  }
  input[type=text] {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #aaa;
    width: 150px;
  }
  button {
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #d10862;
    color: rgb(235, 231, 231);
    cursor: pointer;
  }
  button:hover {
    background-color: #ff0b79;
  }
  #output {
    font-size: 2em;
    margin-top: 20px;
  }